In [1]:
import sys, os
from pathlib import Path

# 1) Asegúrate de apuntar a la raíz del proyecto
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

In [2]:
import pandas as pd
from IPython.display import display
# Cargar el archivo Parquet
data_local = pd.read_parquet(r'..\data\raw\BTCUSDT_1h_2024-01-01_2024-07-01.parquet')

In [3]:
# Convertir la columna 'timestamp' a un formato datetime
data_local['datetime'] = pd.to_datetime(data_local['timestamp'], unit='ms', utc=True)
# Establecer 'datetime' como índice
data_local.set_index('datetime', inplace=True)
# Asegurarse de que las columnas sean numéricas (float)
data_local[['open', 'high', 'low', 'close', 'volume']] = data_local[['open', 'high', 'low', 'close', 'volume']].apply(pd.to_numeric, errors='coerce')
# Redondear las columnas 'open', 'high', 'low', 'close', 'volume' a dos decimales
data_local[['open', 'high', 'low', 'close', 'volume']] = data_local[['open', 'high', 'low', 'close', 'volume']].round(2)
# Mostrar los primeros registros de forma más clara
display(
    data_local[['open', 'high', 'low', 'close', 'volume']]
    .head(10)
    .style
    .format("{:.2f}")
    .set_properties(**{"text-align": "center"})
    .highlight_null("lightgray")
    .set_table_styles([
        {"selector": "th", "props": [("font-size", "110%"), ("text-align", "center")]}
    ])
)